<!doctype html>
<html>
    <head>
		<title>{{ current[0] }}</title>
		<meta http-equiv="refresh" content="{{ timeout }}">
	</head>
    <body>
      <div>
        <svg id = "svgbtc" width = "{{ n*w }}" height = "{{ h }}">
          {% for item in data %}
            {% if data[loop.index0+1] == undefined %}
            <line x1 = "{{ loop.index0*w }}" y1 = "{{ data[loop.index0][1] }}" x2 = "{{ loop.index0*w+w }}" y2 = "{{ data[loop.index0][1] }}" style = "stroke:red;stroke-width:2"/>
            {% else %}
            <line x1 = "{{ loop.index0*w }}" y1 = "{{ data[loop.index0][1] }}" x2 = "{{ loop.index0*w+w }}" y2 = "{{ data[loop.index0+1][1] }}" style = "stroke:red;stroke-width:2"/>
            {% endif %}
          {% endfor %}
        </svg>
        <p>${{ current[1] }}</p>
      </div>
      <div>
        <svg id = "svglbc" width = "{{ n*w }}" height = "{{ h }}">
          {% for item in data %}
            {% if data[loop.index0+1] == undefined %}
            <line x1 = "{{ loop.index0*w }}" y1 = "{{ data[loop.index0][1] }}" x2 = "{{ loop.index0*w+w }}" y2 = "{{ data[loop.index0][1] }}" style = "stroke:blue;stroke-width:2"/>
            {% else %}
            <line x1 = "{{ loop.index0*w }}" y1 = "{{ data[loop.index0][1] }}" x2 = "{{ loop.index0*w+w }}" y2 = "{{ data[loop.index0+1][1] }}" style = "stroke:blue;stroke-width:2"/>
            {% endif %}
          {% endfor %}
        </svg>
        <p>${{ current[2] }}</p>
      </div>
    </body>
</html>
